@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Mina:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tangerine:wght@400;700&display=swap');

:root{
    --primary-blue:#051d40;
    --odd-illustration-color:#56aeff;
    --primary-pink:#4b1e3d;
    --cv-color:#e3ebf2;
    --name-font:Tangerine;
    --elaborate-font:Open Sans;
    --heading-font:Josefin Sans;
    --sub-heading-font:Mina;
    --cv-font:League Spartan;
}


.heading{
    font-size: 3.5rem;
    font-family: var(--heading-font);
}

#UncleBot:hover{
    cursor: pointer;
}


#NavList{
    font-size: 2rem;
    font-family: var(--name-font);
    color: rgb(7, 171, 56);
    background-color: var(--cv-color);
    border-top-right-radius: 5px;
}

.listItems:hover{
    font-weight: bold;
    cursor: pointer;
}

#NameSection{
    color: var(--primary-blue);
}

#HeadingNameSection{
    font-size: 12vw;   
    font-family: var(--name-font);
    font-weight: lighter;
}

#HeadingWeather{
    font-size: 2rem;
    font-family: var(--heading-font);
    font-weight: lighter;
}

#HeadingAboutSection{
    color: var(--primary-pink);
}

#HeadingGetInTouch{
    font-size: 2.5rem;
    color: var(--primary-pink);
}

.inp{
    border: #4b1e3d 1px solid;
    background-color: unset;
    font-family: var(--cv-font);
    font-size: 1.2rem;
    color: #4b1e3d;
    /* background-color:rgba(225, 180, 209,0.3); */
}

.btn2{
    background-color: rgba(225, 180, 209,0.3);
}

.btn:hover{
    background-color:rgb(178, 233, 246);
    cursor: pointer;
}

#HeadingToolSection{
    font-family: var(--elaborate-font);
    color: var(--primary-blue);
}

#DownloadCVHeading{
    font-size: 2.5rem;
    color: var(--primary-blue);
}

#DownloadCVHeading:hover{
    border: 2px solid #051d40;
    border-right: unset;
}

#DownloadCVHeading:hover{
    background-color: rgba(225, 180, 209,0.3);
}

.toolList{
    font-family: var(--sub-heading-font);
    color: var(--primary-blue);
    font-size: 1.3rem;
}

#HeadingProjectsSection{
    color: var(--primary-pink);
}

#ImageProjectsSection2{
    color: rgb(252 119 169);
}
#ImageProjectsSection2:hover{
    color: rgb(54, 27, 38);
}

.projectList{
    color: var(--primary-pink);
    font-size: 1.5rem;
}

.headingInnerBoxProject{
    color: var(--primary-pink);
    font-size: 3rem;
}

.paraInnerBoxProject{
    color: var(--primary-pink);
    font-family: var(--elaborate-font);
}

#HeadingKnowSection{
    color: var(--primary-blue);
}

#BoxKnowSection2{
   
}

#ParaKnowSection{
    font-family: var(--sub-heading-font);
    color: var(--primary-blue);
}

#HeadingExp{
    color: var(--primary-blue);
}

.expName{
    font-family: var(--sub-heading-font);  
    font-size: 1.4rem; 
    color: var(--primary-blue); 
}

.paraExp{
    font-family: var(--elaborate-font);
    color: var(--primary-blue);
}

#HeadingHireSection{
    color: rgb(255 199 39);
}

#ParaHireSection{
    color: rgb(255 189 5);
    font-family: var(--elaborate-font);
}


#HeadingEarthSection{
    color: palevioletred;
}

#ParaEarthSection{
    color: rgb(236, 33, 101);
    font-family: var(--elaborate-font);
}

#FooterStrong{
    font-family: var(--sub-heading-font);
    font-size: large;
    color: var(--primary-blue);
    padding: 10px;
    background-color: #dcf9f9;
}

.footerLogo{
    padding: 10px;
}