*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.heading{
    font-weight: light;
}

.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    height: 40vh;
    pointer-events: none;
}


#PreLoader{
    background: url("../images/loaderCode.gif") no-repeat center white;
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    z-index: 50;
}
.MusicPlayer{
    position: fixed;
    left: 0;
    top: 3vh;
    border: 1px solid black;
    background-color: rgb(96, 201, 243);
    display: none;
}

body{
    position: relative;
    background-color: white;
}
                /* HEADER */

header{
    position: fixed;
    top: 0;
    right: 0;
}


#AdjUncle{
    display: flex;
    flex-direction: column;
}

#NavFlex{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#NavBar{
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    display: none;
    padding: 15px;
    background-color:rgb(243, 239, 239);
}

#AnswerNavBar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.paraNavBar{
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(122, 26, 26);
    border-radius: 23px;
    width: max-content;
}
.answers{
    border: none;
    text-align: end;
}
#UncleMessage{
    border: none;
    width: unset;
}
 
.uncleImg{
    height: 14vh;
}

.UncleBot{
    text-align: end;
    z-index: 1000;
    right: 0;
    display: block;
}
.uncleImg:hover{
    cursor: pointer;
}
.headingNavBar{
    padding: 10px;
    padding-bottom: 0px;
}
.listParaNav{
    display: none;
    padding: 10px;
}
                /* SECTION 1 */
                


.boxNameSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unspan{
    padding: 0px;
    font-size: 1vw;
    text-align: end;
}


#ImageNameSection1{
    height: 70vh;
}

#BoxNameSection2{
    justify-content:space-evenly;
}



#ImageNameSection2{
    min-height: 20vh;
    width: 30vw;
    z-index: -1;
}

                /* SECTION 2*/


#ImageAboutSection1{
    height: 50vh;
}

#HeadingAboutSection{
    font-weight: light;
}

#BoxAboutSection2{
    width: 70vw;
    margin: auto;
    justify-content: space-between;
}

#HeadingGetInTouch{
    margin-bottom: 20px;
    text-align: center;
}

form{
    display: inline;
}

#tele{
    width: 20vw;
    padding: 10px;
}

.btn{
    padding: 10px;
}

#ImageAboutSection2{
    height: 40vh;
}

            /* SECTION 3 */

#ImageToolSection1{
    height: 50vh;
}


#BoxToolSection2{
    width: 60vw;
    margin: auto;
    justify-content: space-between;
}

#DownloadCVHeading{
    text-align: center;
    padding: 15px;
    padding-left: unset;
    padding-right: unset;
}

span{
    padding: 10px;
}

.span2{
    text-align: center;
    padding-left: 20px;
    border: 2px solid #051d40;
    border-left: unset;
    background-color: rgb(178, 233, 246);
}



#ToolList{
    display: flex;
    justify-content: space-evenly;
}



                /* SECTION 4 */


#ImageProjectsSection1{
    height: 60vh;
}



#BoxProjectsSection2{
    width: 65vw;
    margin: auto;
    justify-content: space-around;
    align-items: unset;
    padding-left: 10vw;
}

#ImageProjectsSection2{
    font-size: 18vh;
    pointer-events: unset;
}

#ProjectList{
    display: flex;
    justify-content: space-evenly;
}


#ElaborateProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project{
    display: flex;   
    width: 70vw;
}

#Project1{
    flex-direction: row-reverse;
}
#Project3{
    flex-direction: row-reverse;
}

#HeadingInnerBoxProject1{
    text-align: end;
}
#HeadingInnerBoxProject3{
    text-align: end;
}


                /* SECTION 5 */
#KnowSection{
    margin-bottom: 10vh;
}



#BoxKnowSection1{
    width: 70vw;
    margin: auto;
}



#ImageKnowSection1{
    height: 50vh;
}

#HeadingKnowSection{
    font-weight: light;
}



#BoxKnowSection2{
    display: flex;
    width: 75vw;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
}



.expHold{
    padding: 20px;
}



                /* SECTION 6 */




#BoxHireSection1{
    width: 70vw;
    margin: auto;
}



#ImageHireSection1{
    height: 50vh;
}

#HeadingHireSection{
    font-weight: light;
}



                /* SECTION 7 */




#BoxEarthSection1{
    width: 70vw;
    margin: auto;
}



#ImageEarthSection1{
    height: 50vh;
}

#HeadingEarthSection{
    font-weight: light;
}




                /* Footer */
footer{
    min-height: 20vh;
    background-color: rgba(186, 218, 223,0.3);
}

#FooterBox{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
